aiohttp
aiosignal
amqp
anytree
asgiref
async-timeout
attrs
billiard
celery
certifi
chardet
charset-normalizer
click
click-didyoumean
click-repl
colorama
cx-Oracle
distlib
dj-database-url
Django
django-admin-csvexport
django-ckeditor
django-colorfield
django-crispy-forms
django-filter
django-grappelli
django-heroku
django-jazzmin
django-js-asset
django-mathfilters
django-model-utils
django-pandas
django-queryset-csv
django-tables2
django-tinymce4-lite
djangocms-admin-style
djangorestframework
filelock
Flask
frozenlist
gunicorn
haversine
idna
itsdangerous
Jinja2
jsmin
kombu
MarkupSafe
multidict
numpy
pandas
pi
Pillow
pipenv
platformdirs
prompt-toolkit
python-dateutil
python-decouple
pytz
requests
six
slackclient
sqlparse
tzdata
unicodecsv
urllib3
vine
virtualenv
virtualenv-clone
wcwidth
Werkzeug
whitenoise
yarl
